@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    font-family: 'Roboto', sans-serif; 
    background-color: #000000dc;
    color: rgba(255, 255, 255, 0.651);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.calc-btn{
    width: 25px;
    height: 45px;
    border: 1px solid gray;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    font-weight: 100;
    padding-top: 3px;
}

.calc-btn:hover {
    background-color: #6200803f
}
.row{
    display: table;
    table-layout: fixed;
    width: 200px;
}

.column {
    display: table-cell;
}

#calc-zero {
 width: 52.66666667px;
 border-radius: 0 0 0 7px;
}

#calc-clear {
    width: 52.66666667px;
   }

#calc-display-val {
    height: 80px;
    color: black;
    background-color: rgba(255, 255, 255, 0.918);
    text-align: right;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 42px;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
    


}

.calc-btn-operator {
background-color:  #6200803f;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
#calc-equals {
    background-color: rgba(255, 255, 0, 0.692);
    color: black;
    border-radius: 0 0 7px 0;
}

#calc-parent {
    margin-left: calc(50% - 100px);
}
